  <footer class="footer">
	<div class="d-sm-flex justify-content-center justify-content-sm-between">
	  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Homeye Project</span>
	  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Created <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNfAuDO9qiY4YHvLKcuIW6Av4rbnJfo7w4vhM0HkWNu6-ZBO3dUHFnNp5laeNUNPXUw1c&usqp=CAU" target="_blank">by me</a> for home management and control</span>
	</div>
  </footer>